compose_ssl/volumes/html/.well-known/acme-challenge/test_file.html
compose_ssl/volumes/html/index.html
compose_ssl/volumes/conf.d/default.conf
compose_ssl/volumes/certs/*key
compose_ssl/volumes/certs/*crt
compose_ssl/volumes/leadcap/*txt
compose_ssl/.env*

